<h3>Validação de senha</h3>

<div class="container">
  <form [formGroup]="form">
    <label for="password">Senha</label>
    <input type="password" 
            id="password" 
            name="password" 
            formControlName="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Deve conter pelo menos um número e uma letra maiúscula e minúscula e pelo menos 8 ou mais caracteres" 
            required
            >
    <small style="color: red;" *ngIf="form?.get('password')?.errors?.['required'] && (form?.get('password')?.dirty || form?.get('password')?.touched)">Campo Obrigatório</small>
    <br />
    <br />
    
    <label for="passwordConfirm">Confimação de senha</label>
    <input type="password" 
            id="passwordConfirm" 
            name="passwordConfirm" 
            formControlName="passwordConfirm"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Deve conter pelo menos um número e uma letra maiúscula e minúscula e pelo menos 8 ou mais caracteres" 
            required>
    <small style="color: red;" *ngIf="form?.get('passwordConfirm')?.errors?.['required'] && (form?.get('passwordConfirm')?.dirty || form?.get('passwordConfirm')?.touched) ">Campo Obrigatório</small>
    <br />
    <small style="color: red;" *ngIf="form?.errors?.['notSame'] && (form?.get('passwordConfirm')?.dirty || form?.get('passwordConfirm')?.touched) ">As Senhas não são iguais</small>
    
    <input type="submit" value="Submit" value="Salvar">
    
  </form>
</div>
